body {
    background-color: rgb(233, 224, 224);
    margin: 0;
}

.homepage-header {
    background-color:  rgb(160, 156, 156);
    margin: 0;
    padding: px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-all {
    display: flex;
    justify-content: center;
    align-items:  center;
    margin-top: 300px;
    gap: 14px;
}

.text {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(160, 156, 156);
    padding-left: 18px;
}

/* positioned photo and ul beside each other */
.aside {
    display: flex;
    padding-left: 18px;

}
.prep-wine {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-top: 2px solid;
    margin-left: 100px;
    padding-left: 0;
    padding-top: 10px;
    font-size: 22px;
}

.under {
    display: flex;
    flex-direction: column;
}


.photo {
    padding: 10px;
}

/* made image smaller */
img {
    height: 320px;
    width: 320px;
}
    
.stitle {
    font-size: 22px;
    margin-left: 18px;
    margin-top: 40px;
    border-top: 2px solid;
    width: 320px;
    padding-top: 8px;
}

.this {
 list-style-type: none;
 font-size: 22px;
 padding-left: 18px;
}

.description {
    border-top: 2px solid;
    width: 700px;
    display: flex;
    margin-left: 18px;
    padding-top: 20px;
}

.container3 {
    margin-top:  26px;
    margin-left: 60px;
    font-size: 22px;
    width: 1100px;
    
}
.container2 {
    display: flex;
}
.directions {
    border-top: 2px solid;
    font-size: 22px;
    padding-top: 8px;
    width: 900px;
}
.proper-fit {
    width: 900px;
}

.this {
    list-style-type: none;
    font-size: 22px;
    padding-left: 18px;
   }

   .aside2 {
    display: flex;
    flex-direction: column;
}